<!-- TODO: the form of new event -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                      <h4 class="card-title">Update event status</h4>
                      <p class="card-category">Complete the form</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Caregiver crew">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Evacuation crew">
                                    </mat-form-field></div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Evacuation target">
                                    </mat-form-field></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Injury state">
                                    </mat-form-field>
                                </div>
                                <mat-form-field class="col-md-3">
                                    <mat-label>Urgent</mat-label>
                                    <mat-select [(value)]="selected">
                                      <mat-option>No</mat-option>
                                      <mat-option value="option1">Yes</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field class="col-md-3">
                                    <mat-label>Riding</mat-label>
                                    <mat-select [(value)]="selected">
                                      <mat-option>No</mat-option>
                                      <mat-option value="option1">Yes</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <mat-label>Definition</mat-label>
                                    <mat-select [(value)]="selected">
                                      <mat-option>Trauma</mat-option>
                                      <mat-option value="option1">Disease</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field class="col-md-3">
                                    <mat-label>Category</mat-label>
                                    <mat-select [(value)]="selected">
                                      <mat-option>Routine</mat-option>
                                      <mat-option value="option1">operational</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field class="col-md-3">
                                    <mat-label>Event outline</mat-label>
                                    <mat-select [(value)]="selected">
                                      <mat-option>Car Accident</mat-option>
                                      <mat-option value="option2">Disease</mat-option>
                                      <mat-option value="option3">Hostile terrorist activity</mat-option>
                                      <mat-option value="option4">Sabotage</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-10">
                                    <input matInput placeholder="Injury mechanism">
                                </mat-form-field>
                            </div>
                               
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  