<!-- TODO: the form of new event -->

<div class="main-content">
    <div class="container-fluid">
      <div class="row" id="event_det" *ngIf="event_det is !undefined">
        <tr >
          <td>
            {{ event_details.selected_event_type }}
          </td>
          <td>
            {{ event_details.brigadeVal }}
          </td>
          <td>
            {{ event_details.areaVal }}
          </td>
          <td>
            {{ event_details.battalionVal }}
          </td>
          <td>
            {{ event_details.landmarkVal }}
          </td>
          <td>
            {{ event_details.descriptionVal }}
          </td>
          <td>
            {{ event_details.osnVal }}
          </td>
          <td>
            {{ event_details.partNum }}
          </td>
          <td>
            {{ event_details.eventSumVal }}
          </td>
      </tr>
      </div>
      <div class="row" id="events_table_div">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Handled Events Table</h4>
                    <p class="card-category">Present handled events</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Type
                                </th>
                                <th>
                                    Brigade
                                </th>
                                <th>
                                    Area
                                </th>
                                <th>
                                  Battalion
                                </th>
                                <th>
                                  Landmark
                                </th>
                                <th>
                                  Description
                                </th>
                                <th>
                                  Operations Sergant Name
                                </th>
                                <th>
                                  Number of participants
                              </th>
                                <th>
                                  Summary
                                </th>
                                <th>
                                  Event Handeling Details
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ItemsArray">
                                    <td>
                                      {{ item.selectedEventType }}
                                    </td>
                                    <td>
                                      {{ item.brigadeVal }}
                                    </td>
                                    <td>
                                      {{ item.areaVal }}
                                    </td>
                                    <td>
                                      {{ item.battalionVal }}
                                    </td>
                                    <td>
                                      {{ item.landmarkVal }}
                                    </td>
                                    <td>
                                      {{ item.descriptionVal }}
                                    </td>
                                    <td>
                                      {{ item.osnVal }}
                                    </td>
                                    <td>
                                      {{ item.partNum }}
                                    </td>
                                    <td>
                                      {{ item.eventSumVal }}
                                    </td>
                                    <td>
                                      <button mat-raised-button type="submit" class=".btn-sm btn-danger pull-right" (click)="EventDetails(item.id)">More Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
  