<!-- TODO: the form of new event -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                      <h4 class="card-title">Add new event</h4>
                      <p class="card-category">Complete the form</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <mat-form-field class="col-md-6">
                                  <mat-label>Choose event type:</mat-label>
                                  <mat-select [(value)]="selected_event_type">
                                    <mat-option value="Other">Other</mat-option>
                                    <mat-option value="Man Injury">Man Injury</mat-option>
                                    <mat-option value="Accident">Accident</mat-option>
                                    <mat-option value="Terror Attack">Terror Attack</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <label>Location</label>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Brigade" [(ngModel)]="brigadeVal" name="brigadeVal">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Area" [(ngModel)]="areaVal" name="areaVal">
                                    </mat-form-field></div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Battalion" [(ngModel)]="battalionVal" name="battalionVal">
                                    </mat-form-field></div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Landmark" [(ngModel)]="landmarkVal" name="landmarkVal">
                                    </mat-form-field></div>
                            </div>
                                <div class="row">
                                    <label>Description</label>
                                    <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                       <textarea matInput [(ngModel)]="descriptionVal" name="descriptionVal"></textarea>
                                     </mat-form-field></div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                   <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Date" type="date" [(ngModel)]="dateVal" name="dateVal">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Hour" type="time" [(ngModel)]="hourVal" name="hourVal">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Operations Surgunt Name" type="text" [(ngModel)]="osnVal" name="osnVal">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label>Number of...</label>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Participants" type="number" [(ngModel)]="part_num" name="part_num">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Soldiers" type="number" [(ngModel)]="soldiers_num" name="soldiers_num">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Civilians" type="number" [(ngModel)]="civils_num" name="civils_num">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label>Event Sammery</label>
                                <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                   <textarea matInput [(ngModel)]="eventSumVal" name="eventSumVal"></textarea>
                                 </mat-form-field></div>
                            </div>
                            

                            <!-- <p>Value: {{ civils_num }}</p> -->
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="subAddForm()">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  