<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Events Table</h4>
                      <p class="card-category"> Here is a description for all the events</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Type
                                  </th>
                                  <th>
                                      Brigade
                                  </th>
                                  <th>
                                      Area
                                  </th>
                                  <th>
                                    Battalion
                                  </th>
                                  <th>
                                    Landmark
                                  </th>
                                  <th>
                                    Description
                                  </th>
                                  <th>
                                    Operations Sergant
                                  </th>
                                  <th>
                                    Number of participants
                                </th>
                                  <th>
                                    Participants State
                                  </th>
                                  <th>
                                    Population
                                  </th>
                                  <th>
                                    Summary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                      <td>
                                        Something
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
